body {
    background-color: #cccccc;
    margin: 0;
    padding: 0;
}

#container, .score-container, #start-screen {
    margin: auto;
    max-width: 1200px;
}

.header {
    background-color: #818181;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 20px;
    width: 100%;
}

.header div {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.header .title h1 {
    color: #c1c1c1;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.header div h2 {
    margin: 0;
}

.flex-container {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px auto;
    max-width: 800px;
}

.flex-element {
    align-items: center;
    background-color: #cc0000;
    display: flex;
    width: 100%;
    margin: 0 5px;
    height: 50px;
    overflow: hidden;
    justify-content: center;
    position: relative;
    transition: all 2s;
}

i {
    color: #fff;
}

.wrapper {
    top: 0;
    background-color: #696969;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: top 500ms ease;
}

.open {
    top: -100%;
    /*transition: top 500ms ease;*/
}

.checked {
    opacity: 0;
    transition: opacity 500ms ease;
}

ul#area-size {
    display: table;
    margin: auto;
}

ul#area-size li {
    display: inline-block;
    font-size: 20px;
    padding:20px;
    cursor: pointer;
}

.table-row {
    display: flex;
}

.table-row:nth-child(2n) {
    background-color: #ffffff;
}

.table-row div {
    font-size: 20px;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.column-title {
    background-color: #fff;
    display: flex;
}

.column-title div {
    font-size: 20px;
    padding: 20px;
    text-align: center;
    width: 100%;
}

#start-screen ul {
    list-style: none;
}

#start-screen ul li {
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

#start-screen ul li a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}